<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">



  <% if !user_signed_in? %>
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag("logos/logo-short.png") %>
  <% end %>
  <ul class="navbar-nav ml-auto login">
    <li class="nav-item">
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    </li>
  </ul>
  <% end %>

  <% if user_signed_in? %>
    <% if policy(Cosmetic).index? %>
    <div class= "navbar-title">
      <%# <h3 class="navbar-title">CareAround</h3> %>
      <%= link_to root_path do %>
        <%= image_tag("logos/logo2.png") %>
      <% end %>
    </div>
    <% end %>
  <% end %>

</div>
