<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>CareAround</h1>

<div class="container">
  <%= @cosmetics.each do |cosmetic| %>
    <div class="col-12">
      <div class="cosme-card">
        <div class="cosme-card-header">
          <%= image_tag cosmetic.cosmetic_image, class: "img"%>
        </div>
        <div class="cosme-card-body">
          <span class="tag tag-teal"><%= cosmetic.category.capitalize %></span>
          <h3> <%= cosmetic.name %>
          </h3>
          <div class="like-icon mx-2 <%= 'red' if current_user.favorited?(cosmetic) %>" data-id="<%= cosmetic.id %>">
            <i class="fas fa-heart"></i>
          </div>
          <h4>from <%= cosmetic.brand.capitalize %></h4>
          <p>
            <%= cosmetic.description %>
          </p>
            <div class="price-info">
              <h5>Average price</h5>
              <small>¥<%= cosmetic.average_price %></small>
            </div>
          <%= link_to "See more", cosmetic_path(cosmetic), class:"btn btn-success"  %>
        </div>
      </div>
    </div>
  <% end %>
</div>
