<h1>Pages#home</h1>

<h1>CareAround</h1>

<div class="column cosmetics">
  <%= @cosmetics.each do |cosmetic| %>
    <div class="card-cosmetics my-3">
        <% if cosmetic.cosmetic_image? %>
          <%= image_tag cosmetic.cosmetic_image, class: "card-cosmetics-img", style: "max-height:200px; max-width:150px" %>
        <% end %>
      <div class="card-cosmetics-info">
        <div class="card-cosmetics-info-content"></div>
          <h5>Name: <%= cosmetic.name %></h5>
          <p>Brand: <%= cosmetic.brand %></p>
          <p>Category: <%= cosmetic.category %></p>
          <p>Average price: <%= cosmetic.average_price %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
