<div class="favorite" data-id="<%= cosmetic.id %>">
  <div class="col-12">
    <div class="cosme-card">
      <div class="cosme-card-header">
        <%= image_tag cosmetic.cosmetic_image, class: "img"%>
      </div>
      <div class="cosme-card-body">
        <span class="row m-1">
          <% cosmetic.tag_list.each do |tag| %>
            <li class="tag tag-green"><%= tag %></li>
          <% end %>
        </span>
        <%= link_to toggle_favorite_cosmetic_path(cosmetic), remote: true, method: :post do %>
          <%= render 'cosmetics/like_button', cosmetic: cosmetic %>
        <% end %>
        <h3>
          <%= cosmetic.name %>
        </h3>
        <h4>from <%= cosmetic.brand ? cosmetic.brand.capitalize : "No brand" %></h4>
        <p>
          <%= cosmetic.description ? cosmetic.description.truncate(100) : "No description" %>
        </p>
        <span class="tag tag-brown"><%= cosmetic.category.capitalize %></span>
        <div class="price-info">
          <h5>Average price</h5>
            <small>¥<%= cosmetic.average_price %></small><br>
        </div>
        <%= link_to "See more", cosmetic_path(cosmetic), class: "button text-decoration-none"  %>
      </div>
    </div>
  </div>
</div>
