<div class="mini-cosme-card">
  <div class="mini-cosme-card-header">
    <% if cosmetic.cosmetic_image.attached?%>
      <%= cl_image_tag cosmetic.cosmetic_image.key, class: "img"%>
    <%end %>
    <div class="mini-cosme-card-header-info">
      <div class="mini-cosme-card-header-info-rating">
        <h3 class="mini-cosme-card-header-info-rating-number"><%=cosmetic.average_review %></h3>
        <p class="mini-cosme-card-header-info-rating-text"><%= cosmetic.total_reviews %><br>ratings</p>
      </div>
      <p>Stars</p>
      <p class="mini-cosme-card-header-info-price"><span>¥<%= cosmetic.average_price %></span> avg.</p>
        <span class="row m-1">
        <% cosmetic.tag_list.each do |tag| %>
          <li class="mini-tag mini-tag-green"><%= tag %></li>
        <% end %>
        </span>
    </div>
  </div>
  <div class="mini-cosme-card-line"><hr /></div>
  <div class="mini-cosme-card-body">
    <p class="mini-cosme-card-body-name"><%= cosmetic.name %></p>
    <p class="mini-cosme-card-body-brand"><%= cosmetic.brand.upcase %></p>
  </div>
  <div class="mini-cosme-card-body-bottom">
    <p class="mini-cosme-card-body-bottom-tag"><%= cosmetic.category.capitalize %></p>
    <%= link_to "See more", cosmetic_path(cosmetic), class: "button mini-cosme-card-body-bottom-button"  %>
  </div>
</div>
