<button type="button" class="button" data-toggle="modal" data-backdrop="false" data-target=".bd-review-form-modal-sm">Leave a Review!</button>

                                                                                                                                                <%# You need to set the data controller to connect to stimulus and then the target in order to define your static target %>
<div class="modal bd-review-form-modal-sm" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-controller="collapsible" data-collapsible-target="hidden"> <%# You need to put the controller in a place where it can encase everthing you want to target %>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class= "Review-form-card">
      <div class= "row d-flex justify-content-center mt-2">
              <%= simple_form_for([ @cosmetic, @review ], remote: true, data: {action: "submit->collapsible#collapse"}) do |f| %>
                <%= f.input :rating, collection: (1..5).to_a, label: "Rate Your Product!!!" %>
                <%= f.input :shop_url %>
                <%= f.input :content, as: :text, label: false %>
             <div class="modal-footer">
                <button type="button" class="button" data-dismiss="modal">Close</button>
                <%= f.submit "Leave Review", class: 'button', data: {action: "click->collapsible#collapse" }%>
              <% end %>
             </div>
      </div>
    </div>
  </div>
</div>
