<div class= "card">
  <div class= "row d-flex">
     <div data-controller="collapsible">
        <button class="btn btn-primary w-100" data-action="click->collapsible#expand">Reviews</button>
       <div data-collapsible-target="hidden">
        <%= simple_form_for([ @cosmetic, @review ], remote: true) do |f| %>
          <%= f.input :content, as: :text, label: false %>
          <%= f.input :rating %>
          <%= f.input :shop_url %>
          <%= f.button :submit, "Leave Review", class: 'btn btn-primary' %>
      <% end %>
      </div>
  </div>


  <div class="card" style="width: 18rem;">
     <% @cosmetic.reviews.each do |review| %>
    <div class="card-body">
      <h5 class="card-title"><%= current_user.name %> </h5>
      <p class="card-subtitle mb-1 text-muted"><span class="text-muted">4.0</span> <span class="fa fa-star star-active ml-3"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-inactive"></span></p>
      <p class="card-text"><%= review.content %></p>
    </div>
  </div>
     <% end %>
</div>
