<h1>Cosmetics</h1>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="container">
    <h3>All cosmetics</h3>
      <% @cosmetics.each do |cosmetic| %>
       <%= render 'cosmetics/cosmetic', cosmetic: cosmetic %>
      <% end %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="container">
      <h3>Liked cosmetics</h3>
      <div class="favorites">
        <% @favorite_cosmetics.each do |cosmetic| %>
        <%= render 'cosmetic', cosmetic: cosmetic %>
        <% end %>

      </div>
        <div class="cosme-card-body">
          <span class="tag tag-brown"><%= cosmetic.category.capitalize %></span>
          <h3> <%= cosmetic.name %>
          </h3>
          <h4>from <%= cosmetic.brand.capitalize %></h4>
          <p>
            <%= cosmetic.description %>
          </p>
            <div class="price-info">
              <h5>Average price</h5>
              <small>¥<%= cosmetic.average_price %></small>
            </div>
            <br>
              <% cosmetic.tag_list.each do |tag| %>
                <li class="tag tag-green"><%= tag %></li>
              <% end %>
        </div>
    </div>
  </div>
</div>

